body {
  background-color: rgb(14, 103, 145);
  border: 0px;
}

.poem {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-family: Papyrus, fantasy;
  align-items: center;
  text-align: center;
  font-size: 70px;
  color: rgb(238, 167, 226);
  background-color: rgb(14, 103, 145);
}

#test {
  width: 475px;
  height: 475px;
  border-radius: 50%;
  margin-bottom: 20px;
}

#couple {
  width: 475px;
  height: 475px;
  border-radius: 10%;
  margin-bottom: 20px;
}

.media {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-content: center;
}

video {
  border-radius: 10%;
  outline: none;
  margin-bottom: 20px;
}

@media screen and (max-width: 768px) {
  body {
    font-size: 40px;
  }
  .media {
    flex-direction: column;
    justify-content: center;
  }
}